// COLORS
$main-color: #FEBD2F;
$secondary-color: #333333;
// FONTS
$title-font: 'Paytone One', sans-serif;
$text-font: 'Montserrat', sans-serif;

// TEXT SIZES
$small: 1.2rem;
$medium: 1.6rem;
$mi-large: 2rem;
$large: 2.4rem;
$extra-large: 3.2rem;

// TEXT WEIGHTS
$light: 300;
$regular: 400;
$medium-weight: 500;
$semi-bold: 600;
$bold: 700;