header {
 position: relative;
 background-color: $main-color;
 background-image: url('../../assets/images/home-bg.png');
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;

 .slogan {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: $extra-large;
 }

 .header-img {
  position: absolute;
  bottom: 0;
  right: 15%;
  width: 40%;
 }
}

.presentation-title {
 text-align: center;
 font-size: $mi-large;
}

.presentation-container {
 display: flex;
 align-items: center;
 gap: 50px;
 margin-top: 145px;

 .presentation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  .circle {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: $main-color;
   display: flex;
   justify-content: center;
   align-items: center;

   img {
    width: 72px;
   }

  }

  .presentation-text {
   text-align: center;
   font-size: $small;
   font-weight: $medium-weight;
  }
 }
}

#become-chef {
 display: flex;
 width: 100%;
 background-color: $secondary-color;

 .left-container {
  width: 50%;

  color: white;

  .become-chef-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   gap: 65px;
   padding: 0 67px;

   .become-chef-title {
    font-size: $mi-large;
    font-weight: $semi-bold;
   }

   .become-chef-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
     font-size: $small;
    }
   }
  }
 }

 .right-container {
  width: 50%;

  img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
 }
}

#last-recipes {
 .last-recipes-title {
  font-size: $mi-large;
  font-weight: $semi-bold;
 }

 .last-recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  justify-items: space-between;
  margin-top: 75px;

  .last-recipes-item {
   display: flex;
   flex-direction: column;
   gap: 10px;
   cursor: pointer;


   &:hover .recipe-img {
    filter: brightness(70%);
   }

   .recipe-img-wrapper {
    position: relative;

    .recipe-img {
     width: 100%;
     height: 400px;
     border-radius: 30px;
     object-fit: cover;
     transition: .3s ease-in-out all;
    }

    .favorite {
     position: absolute;
     top: 10px;
     right: 10px;
     width: 48px;
     height: 48px;
     background-color: white;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: solid 2px $main-color;
     cursor: pointer;

     img {
      width: 24px;
     }
    }
   }


   .recipe-star {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $title-font;
    font-size: 24px;
   }

   .recipe-title {
    font-size: $medium;
    font-weight: $medium;
    font-family: $text-font;
   }
  }
 }
}