*,
::before,
::after {
 box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
footer,
header,
nav,
section {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

footer,
header,
nav,
section {
 display: block;
}

body {
 line-height: 1;
 color: $secondary-color;
}

section {
 width: 80%;
 margin: 100px auto 200px auto;
}

ol,
ul {
 list-style: none;
}

a {
 text-decoration: none;
 color: $secondary-color;
}

p {
 line-height: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $title-font;
}

p,
span,
a,
li,
label {
 font-family: $text-font;
}

textarea {
 resize: none;
}

input,
textarea,
select {
 padding: 10px 20px;
 outline: none;
 border-radius: 10px;
 border: solid 2px $secondary-color;
}

input::placeholder,
textarea::placeholder {
 transition: .3s ease-in-out all;
 font-weight: 500;
}

input:focus::placeholder,
textarea:focus::placeholder {
 color: transparent;
 transform: translateX(5px)
}

.row {
 display: flex;
}

.alignCenter {
 align-items: center;
}

.spaceBtwn {
 justify-content: space-between;
}

.column {
 display: flex;
 flex-direction: column;
}

.colored {
 color: $main-color;
}

.bold {
 font-weight: $bold;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: $secondary-color;
}

::-webkit-scrollbar-thumb:hover {
 background: #888;
}